<%= turbo_frame_tag(basket) do %>
  <h2>Basket</h2>
  <ul>
    <%= render basket.basket_items %>
  </ul>
  <div class="totals">
    <h3><%= humanized_money_with_symbol basket.total %></h3>
  </div>
<% end %>