<%= turbo_frame_tag(:categories) do %>
  <ul class="nav nav-tabs">
    <% @categories.each do |category| %>
      <li class="nav-item">
        <%= link_to category.name, basket_category_path(@basket, category), class: ["nav-link", category == @category ? "active" : nil] %>
      </li>
    <% end %>
  </ul>

  <ul>
    <%= render @category.menu_items.ordered, basket: @basket %>
  </ul>
<% end %>